body, html {
background-color:;
font-family:sansserif;
font-size:14px;
line-height: 1.8em;
}
#text_input{
width;321px;
}
#form
width:400px;
margin:0 auto;
background-color:#fff;
height:500px;
padding:;10px;
}